%p.text-center.h1 商品一覧

%div.product-cards.container
	%ul.row
		- @products.each do |product|
			%li.col-6
				%h3
					=product.name
				%p
					=product.description
				%p
					=product.price
					=product.unit
				%p
					=link_to "詳細"

