%p.text-center.h1 商品一覧

%div.product-cards.container
	%ul.row
		- @products.each do |product|
			%li.col-md-6
				%div.product-card
					%h3
						=product.name
					%p
						=product.description
					%p
						=product.price_unit #from product_decorator
				%div.detail
					%p
						=link_to "詳細"